/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Oswald:500");

/* Main Styles */
body {
    background-color: #111111;
    font-family: "Oswald", sans-serif;
    margin: 0;
    overflow-x: hidden;
  }
  
.bg {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation .2s infinite;
    opacity: .9;
    visibility: visible;
  }

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}
/* Close Main Styles */


/* Navagation */
nav {
  width: 100%;
  position: fixed;
  top: 0;
  text-align: center;
  z-index: 1;
  font-size: x-large;
}
nav a {
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  margin: 0 15px;
  font-size: 46px;
  letter-spacing: 1px;
  position: relative;
  display: inline-block;
}
nav a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #000000;
  top: 47%;
  animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
nav a:hover:before {
  animation: in 0.5s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}

@keyframes in {
  0% {
    width: 0;
    left: 0;
    right: auto;
  }
  100% {
    left: 0;
    right: auto;
    width: 100%;
  }
}
@keyframes out {
  0% {
    width: 100%;
    left: auto;
    right: 0;
  }
  100% {
    width: 0;
    left: auto;
    right: 0;
  }
}
@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

nav a:nth-child(1) {
  animation: show 0.2s 0.1s ease 1 both;
}
nav a:nth-child(2) {
  animation: show 0.2s 0.2s ease 1 both;
}
nav a:nth-child(3) {
  animation: show 0.2s 0.3s ease 1 both;
}
nav a:nth-child(4) {
  animation: show 0.2s 0.4s ease 1 both;
}
nav a:nth-child(5) {
  animation: show 0.2s 0.5s ease 1 both;
}
/* Close Navagation */


/*Section 1*/
.section1 {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  position: relative;
}
.img-fluid {
  max-width: 80%;
  height: auto;
  display: block;
  z-index: 0;
  margin-block-end: 30px;
  border-radius: 50%;
  box-shadow: 0px 4px 13px rgb(255, 255, 255);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  margin-top: 2em;
}

.up, .down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.card1 {
  width: 100px;
  height: 100px;
  outline: none;
  border: none;
  background: white;
  border-radius: 90px 5px 5px 5px;
  box-shadow: rgb(248, 247, 247) 0px 2px 5px -1px, rgb(255, 255, 255) 0px 1px 3px -1px;
  transition: .3s ease-in-out;
}

.instagram {
  margin-top: 1.5em;
  margin-left: 1.2em;
  fill: #cc39a4;
}

.card2 {
  width: 100px;
  height: 100px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 90px 5px 5px;
  box-shadow: rgb(248, 247, 247) 0px 2px 5px -1px, rgb(255, 255, 255) 0px 1px 3px -1px;
  transition: .3s ease-in-out;
}

.linkedin {
  margin-top: 1.5em;
  margin-left: -.9em;
  fill: #2b6e8d;
}

.card3 {
  width: 100px;
  height: 100px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 5px 90px;
  box-shadow: rgb(248, 247, 247) 0px 2px 5px -1px, rgb(255, 255, 255) 0px 1px 3px -1px;
  transition: .3s ease-in-out;
}

.github {
  margin-top: -.6em;
  margin-left: 1.2em;
}

.card4 {
  width: 100px;
  height: 100px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 90px 5px;
  box-shadow: rgb(248, 247, 247) 0px 2px 5px -1px, rgb(255, 255, 255) 0px 1px 3px -1px;
  transition: .3s ease-in-out;
}

.CV {
  margin-top: -.9em;
  margin-left: -1.1em;
  fill: #000000;
}

.card1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #cc39a4;
}

.card1:hover .instagram {
  fill: white;
}

.card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #03A9F4;
}

.card2:hover .linkedin {
  fill: white;
}

.card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: black;
}

.card3:hover .github {
  fill: white;
}

.card4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #2abd0c;
}

.card4:hover .CV {
  fill: white;
}
/*Close Section 1 */


/*Section 2*/
.section2{
    margin-top: 80px;
    background-color: #fff;
    display: block;
    padding: 50px;
}
.section2 p{
    display: flex;
    font-size: x-large;
}
.section2 ul{
  font-size: x-large;
}
.icons {
    display: flex;
    align-items: end;
    justify-content: end;
}
@media (max-width: 480px) {
  .icons{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.4; }
  100% { opacity: 1; }
}

/* Estilo base para los iconos */
.icons img {
  animation: blink 3s infinite; /* Aplicar la animación de parpadeo */
}
/* Close Section 2 */

/* Counter */
.skills-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 5px;
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 30px;
  box-shadow: -10px 10px 30px 0px rgba(255, 255, 255, 0.747), inset 4px -4px 16px 0px rgba(255, 255, 255, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
}

.skill {
  margin-bottom: 20px;
}

.skill h2 {
  margin: 0;
}

.skill-bar {
  width: 0;
  height: 30px;
  background-color: #000000;
  color: #ffffff;
  text-align: right;
  line-height: 30px;
  border-radius: 5px;
  transition: width 1s ease;
}
/* Close Counter */

/* Section 3 */
.project-card {
  color: #fff;
  background-color: #000000;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  opacity: 0;  /* Inicialmente oculto */
  transform: translateY(60px);
  transition: opacity 0.3s ease, transform 0.4s ease;
}

.project-card img {
  max-width: 100%;
  height: auto;
}

.project-card h3 {
  margin: 10px 0;
}

.project-card a {
  display: inline-block;
  font-size: 1.5rem;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #fff;
  background: #252525;
  box-shadow: 3px 3px #fff;
  cursor: pointer;
  margin: 35px 10px;
  text-decoration: none;
}

.project-card a:hover {
  box-shadow: none;
  transform: translate(3px, 3px);
}
/* Close Section 3 */

/* Footer Styles */
.animate-element {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.footer {
  color: #2abd0c;
  font-size: xx-large;
}
.section4{
  font-size: 20px;
}
/* Close Footer Styles */
